@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>Menu</h1>
<ul>
    <li>Pastel de queijo</li>
    <li>Pastel de carne</li>
    <li>Pastel de frango</li>
    <li>Pastel de catupiri</li>
    <li>Pastel de palmito</li>
</ul>